.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 64px;
  gap: 128px;
  align-items: center;
}

.display-area {
  display: flex;
  gap: 32px;
}

.buttons {
  display: flex;
}

.book {
  border: solid black;
}
